@page "/timer"
@rendermode InteractiveWebAssembly


<PageTitle>Timer</PageTitle>
<h3>Timer</h3>
<h1>hissssss</h1>
<h1>Hello There</h1>
<button @onclick="CreateTimer">Add Timer</button>

@code {

    void CreateTimer()
    {
        Console.WriteLine("Timer aaa created");
    }
}