@page "/timer"
@rendermode InteractiveWebAssembly

<PageTitle>Timer</PageTitle>
<label>Name</label>
<input type="text" @bind="TimerName">

<button type="button" class="btn btn-dark" @onclick="CreateANewTimer">Add Timer</button>

<div class="d-flex">
@foreach(var timer in TimersCreated)
{
  @if(!string.IsNullOrEmpty(timer.Key))
  {
    <CreateATimer />
    Console.WriteLine($"Timer created: {timer.Key}, {timer.Value}");
  }
  else
  {
    <p>No Timers Now</p>
  }
}
</div>

@code {
  public string? TimerName;
  public int TimerId;
  public Dictionary<string, int> TimersCreated = new Dictionary<string, int>();
  
   void CreateANewTimer()
   {
    Console.WriteLine($"This is the timer id: {TimerId}");
    if(!string.IsNullOrEmpty(TimerName))
    {
      TimersCreated.TryAdd(TimerName, TimerId);
    }
    else
    {
      Console.WriteLine("Please enter a valid name for the timer");
    }
    TimerId++;
    Console.WriteLine($"This is the amount of timers: {TimersCreated.Count}");
    InvokeAsync(StateHasChanged);
   }

}