
<div class="card text-center" style="width: 18rem;">
  <div class="card-body p-0">
    <h5 class="card-title bg-success text-white p-4">@formattedTime</h5>
    <p class="card-text">Choose your time</p>
    <p>Hour</p>
    <input type="text" @bind="TimerHours" />
    <p>Minute</p>
    <input type="text" @bind="TimerMinutes" />
    <p>Second</p>
    <input type="text"  @bind="TimerSeconds" />
    <a @onclick="CreateTimer" class="btn btn-primary m-4">Start Time</a>
  </div>
</div>


@code {
  public System.Timers.Timer bestTimer = new();

  public int CountDownTime = 10;
  public int TimerMinutes;
  public int TimerHours;
  public int TimerSeconds;
  public string formattedTime = "00:00:00";
  void SetUpTimer() 
  { 
    CountDownTime = (TimerHours * 3600) + (TimerMinutes * 60) + TimerSeconds;
    if (CountDownTime <= 0)
    {
      formattedTime = "00:00:00";
      Console.WriteLine("Invalid time. Please set a valid countdown time.");
      return;
    }

    bestTimer.Interval = 1000;
    bestTimer.Elapsed += UpdateTimer;  
    bestTimer.Start();
  }

  void UpdateTimer(Object? source, System.Timers.ElapsedEventArgs e) 
  {
    if(CountDownTime > 0)
    {
      CountDownTime--;
      formattedTime = TimeSpan.FromSeconds(CountDownTime).ToString(@"hh\:mm\:ss");
      Console.WriteLine($"Countdown is: {formattedTime}");
    }
    else
    {
      Console.WriteLine("Finished");
      bestTimer.Stop();
      bestTimer.Dispose();
      formattedTime = "00:00:00";
    }

    InvokeAsync(StateHasChanged);
  }

  void CreateTimer() 
  {
    bestTimer.Stop();
    SetUpTimer();
    Console.WriteLine("Timer has started");
  }
}
